*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
body{
    color: white;
    background-color: #e5e5f7; 
    width: 100%;
    padding: 20px;
    margin: auto;
    background-image: url(fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixe       
}
input{
    width: 100%;
    max-width: 400px;
    font-size: 30px;    
    margin-bottom: 20px;
}
button{
    width: 100%;
    max-width: 200px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
button:hover{
    transform: translateY(-10px);
}
table{
    border-radius: 20px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 42px 42px;    
}